<div class="perfil-wrapper">
<div class="panel">
<h2>Información de Local</h2>
<section ng-init="tab = 1">
<ul class="nav nav-pills">
<li ng-class="{active:tab === 1}"><a href="" ng-click="tab = 1">Información General</a></li>
<li ng-class="{active:tab === 2}"><a href="" ng-click="tab = 2">Mapa</a></li>
<li ng-class="{active:tab === 3}"><a href="" ng-click="tab = 3">Tu Tienda</a></li>
<li ng-class="{active:tab === 4}"><a href="" ng-click="tab = 4">Comentarios</a></li>
</ul>
</section>
<div class="panel" ng-show="tab === 1">
<infogeneral></infogeneral>
</div><!--FIN DE DIV PANEL 1 -->
<div class="panel" ng-show="tab === 2">
<mapaperfil></mapaperfil>
</div><!--FIN DE DIV PANEL 2 -->
<div class="panel" ng-show="tab === 3">
<galeriaperfil></galeriaperfil>
</div><!--FIN DE DIV PANEL 3 -->
<div class="panel" ng-show="tab === 4">
<comentariosperfil></comentariosperfil>
</div><!--FIN DE DIV PANEL 4 -->
<button class="btn btn-default"><a href="#/panelcontrol">Volver</a></button>
</div>
</div>